{
    "logfileRoot": "path/for/automate/logs/directory",
    "run": [
        {
           "library": "Movies",
           "type": "standard-movie",
           "setPosters": true
        },
        {
            "library": "Anime Shows",
            "type": "anime",
            "setPosters": false
        },
        {
            "library": "some other library",
            "type": "some other type",
            "setPosters": "upload cover art located in /posters?"
        }
    ]
}