{
    "general_settings": {
        "genres": {
            "standard-tv": {
                "ignore": [],
                "replace": {
                    "sci-fi": "science fiction"
                },
                "sortedPrefix": "",
                "sortedCollections": ["action", "adventure", "animation", "comedy", "crime", "documentary", "drama", "family", "fantasy", "history", "kids", "politics", "reality", "sci-fi", "science fiction", "war", "western"]
            },
            "standard-movie": {
                "ignore": ["TV Movie"],
                "replace": {},
                "sortedPrefix": "*",
                "sortedCollections": ["action", "adventure", "animation", "comedy", "crime", "documentary", "drama", "family", "fantasy", "history", "horror", "music", "mystery", "romance", "science fiction", "thriller", "war", "western"]
            },
            "anime": {
                "ignore": ["dont create collection for this genre", "kids", "seinen", "police"],
                "replace": {
                    "the genre to replace": "value to replace with",
                    "must be lowercase": "Any fOrmAtted Value",
                    "shoujo ai": "shoujo",
                    "shounen ai": "shounen"
                },
                "sortedPrefix": "*",
                "sortedCollections": ["action", "adventure", "cars", "comedy", "dementia", "demons", "drama", "ecchi", "fantasy", "game", "harem", "historical", "horror", "magic", "martial arts", "mecha", "military", "music", "mystery", "psychological", "romance", "samurai", "school", "sci-fi", "shoujo", "shounen", "slice of life", "space", "sports", "supernatural", "super power", "thriller", "vampire"]
            }
        }
    },
    "automation_settings": {
        "run": [
            {
                "library": "Movies",
                "type": "standard-movie",
                "setPosters": false,
                "sortCollections": false
            },
            {
                "library": "Anime Shows",
                "type": "anime",
                "setPosters": false,
                "sortCollections": false
            },
            {
                "library": "TV Shows",
                "type": "standard-tv",
                "setPosters": false,
                "sortCollections": false
            },
            {
                "library": "some other library",
                "type": "some other type",
                "setPosters": "upload cover art located in /posters?",
                "sortCollections": "add sort prefix to collections sort title?"
            }
        ]
    }
}
