{
    "run": [
        {
           "library": "Movies",
           "type": "standard-movie",
           "setPosters": false
        },
        {
            "library": "Anime Shows",
            "type": "anime",
            "setPosters": false
        },
        {
            "library": "TV Shows",
            "type": "standard-tv",
            "setPosters": false
        }
        {
            "library": "some other library",
            "type": "some other type",
            "setPosters": "upload cover art located in /posters?"
        }
    ]
}